/*--------------------------------------------------------------
# Reseteo de Margenes
--------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
header {
  width: 100%;
  top: 0px;
  position: sticky;
  z-index: 20;
  background-color: #1f242d; }
  header .barra-navegacion .contenedor-header {
    padding-top: 0.5rem;
    padding-right: 6rem;
    padding-bottom: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    header .barra-navegacion .contenedor-header .boton-primario {
      font-weight: bold;
      color: #1f242d;
      background-color: #88d2fd;
      border-color: #5f97b8; }
      header .barra-navegacion .contenedor-header .boton-primario:hover {
        background: #88d2fd;
        color: white;
        box-shadow: 0 0 1rem #88d2fd; }
    header .barra-navegacion .contenedor-header .logo {
      padding-top: 0.3rem;
      display: flex;
      justify-content: left;
      margin-left: 6rem;
      height: 100%;
      width: 100%;
      width: 12rem; }
      header .barra-navegacion .contenedor-header .logo a {
        display: flex;
        justify-content: left;
        align-items: center;
        gap: 1rem;
        color: white;
        text-decoration: none;
        font-family: "Poppins", sans-serif;
        text-align: center;
        font-size: 1.25rem;
        font-weight: lighter; }
        header .barra-navegacion .contenedor-header .logo a img {
          height: 100%;
          width: 30%;
          object-fit: contain; }
    header .barra-navegacion .contenedor-header .lista-links {
      flex-grow: 0; }
      header .barra-navegacion .contenedor-header .lista-links ul {
        justify-content: center;
        gap: 2.5rem; }
        header .barra-navegacion .contenedor-header .lista-links ul .link {
          font-family: "Poppins", sans-serif;
          text-align: center;
          font-size: 1.25rem;
          font-weight: lighter;
          color: white;
          text-decoration: none; }
          header .barra-navegacion .contenedor-header .lista-links ul .link:hover {
            transform: scale(1.2); }

/*--------------------------------------------------------------
# Main - Main
--------------------------------------------------------------*/
main {
  background: linear-gradient(180deg, #1f242d 0%, #526D82 100%); }

/*--------------------------------------------------------------
# Main - Index
--------------------------------------------------------------*/
.home {
  padding: 10rem 6rem 2rem;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: start;
  gap: 10rem;
  /* ----------------------------------------------
* Generated by Animista on 2023-11-16 17:13:44
* Licensed under FreeBSD License.
* See http://animista.net/license for more info. 
* w: http://animista.net, t: @cssanimista
* ---------------------------------------------- */
  /**
* ----------------------------------------
* animation slide-in-left
* ----------------------------------------
*/
  /* ----------------------------------------------
 * Generated by Animista on 2023-11-16 17:18:5
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
  /**
 * ----------------------------------------
 * animation slide-in-right
 * ----------------------------------------
 */ }
  .home .slide-in-left {
    -webkit-animation: slide-in-left 2s cubic-bezier(0.165, 0.84, 0.44, 1) 0.2s both;
    animation: slide-in-left 2s cubic-bezier(0.165, 0.84, 0.44, 1) 0.2s both; }

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; } }

@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; } }
  .home .slide-in-right {
    -webkit-animation: slide-in-right 2s cubic-bezier(0.165, 0.84, 0.44, 1) 0.2s both;
    animation: slide-in-right 2s cubic-bezier(0.165, 0.84, 0.44, 1) 0.2s both; }

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; } }

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1; } }
  .home .home-content h1 {
    text-align: left;
    font-size: 4rem;
    font-weight: bold;
    color: white; }
  .home .home-content h3 {
    text-align: left;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    margin-bottom: 1rem; }
  .home .home-content p {
    text-align: left;
    font-size: 1.3rem;
    font-weight: lighter;
    color: white;
    margin-bottom: 1rem; }
    .home .home-content p #bold-text {
      color: #88d2fd;
      font-weight: bold; }
  .home .home-content .boton-primario {
    font-weight: bold;
    color: #1f242d;
    background-color: #88d2fd;
    border-color: #5f97b8; }
    .home .home-content .boton-primario:hover {
      background: #88d2fd;
      color: white;
      box-shadow: 0 0 1rem #88d2fd; }
  .home .home-content .social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    height: 3rem;
    width: 3rem;
    font-size: 1.5rem;
    color: #88d2fd;
    text-decoration: none;
    background: transparent;
    border: 0.2rem solid #88d2fd;
    border-radius: 100%;
    transition: 0.5s ease; }
    .home .home-content .social-media a:hover {
      background: #88d2fd;
      color: white;
      box-shadow: 0 0 1rem #88d2fd; }
  .home .home-img {
    height: 25rem;
    width: 50rem;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 1rem 0 3rem 1rem #171a21; }
    .home .home-img img {
      align-items: center;
      height: 100%;
      width: 100%;
      object-fit: cover; }

/*--------------------------------------------------------------
# Main - About
--------------------------------------------------------------*/
.about {
  padding: 10rem 6rem 14rem;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 10rem; }
  .about .about-content {
    height: 26.875rem;
    width: 56.25rem; }
    .about .about-content h2 {
      font-family: "Poppins", sans-serif;
      text-align: left;
      font-size: 3rem;
      font-weight: bold;
      color: #88d2fd;
      line-height: 1.2; }
    .about .about-content p {
      font-family: "Poppins", sans-serif;
      text-align: left;
      font-size: 1.3rem;
      font-weight: lighter;
      color: white;
      margin: 2rem 0 3rem; }
    .about .about-content .boton-primario {
      font-weight: bold;
      color: #1f242d;
      background-color: #88d2fd;
      border-color: #5f97b8; }
      .about .about-content .boton-primario:hover {
        background: #88d2fd;
        color: white;
        box-shadow: 0 0 1rem #88d2fd; }
  .about .about-img {
    height: 16.25rem;
    width: 20.625rem;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 1rem 0 3rem 1rem #171a21; }
    .about .about-img img {
      height: 100%;
      width: 100%;
      object-fit: cover; }

/*--------------------------------------------------------------
# Main - Portfolio
--------------------------------------------------------------*/
.portfolio {
  padding: 10rem 6rem 14rem;
  width: 100%;
  min-height: 100vh; }
  .portfolio h2 {
    font-family: "Poppins", sans-serif;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    color: #88d2fd;
    margin-bottom: 3rem; }
  .portfolio .portfolio-container {
    align-items: center;
    justify-content: center;
    gap: 2.5rem; }
    .portfolio .portfolio-container .portfolio-item {
      padding: 0;
      display: flex;
      position: relative;
      border-radius: 2rem;
      box-shadow: 1rem 0 3rem 1rem #171a21;
      overflow: hidden; }
      .portfolio .portfolio-container .portfolio-item img {
        width: 100%;
        object-fit: cover;
        transition: 0.5s ease; }
      .portfolio .portfolio-container .portfolio-item:hover img {
        transform: scale(1.1); }
      .portfolio .portfolio-container .portfolio-item .portfolio-layer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        background: linear-gradient(rgba(0, 0, 0, 0.4), #000);
        text-align: center;
        padding: 0 2rem;
        transform: translateY(120%);
        transition: 0.5s ease; }
        .portfolio .portfolio-container .portfolio-item .portfolio-layer h3 {
          font-family: "Poppins", sans-serif;
          text-align: center;
          font-size: 2rem;
          font-weight: bold;
          color: #88d2fd; }
        .portfolio .portfolio-container .portfolio-item .portfolio-layer p {
          font-family: "Poppins", sans-serif;
          text-align: center;
          font-size: 1.3rem;
          font-weight: lighter;
          color: white; }
        .portfolio .portfolio-container .portfolio-item .portfolio-layer a {
          display: inline-flex;
          justify-content: center;
          align-items: center;
          height: 5rem;
          width: 5rem;
          border-radius: 50%; }
          .portfolio .portfolio-container .portfolio-item .portfolio-layer a i {
            font-size: 2rem;
            color: #88d2fd; }
      .portfolio .portfolio-container .portfolio-item:hover .portfolio-layer {
        transform: translateY(0%); }

/*--------------------------------------------------------------
# Main - Contact
--------------------------------------------------------------*/
.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2b323e; }
  .contact .social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0.625rem;
    height: 3rem;
    width: 3rem;
    font-size: 1.5rem;
    color: #88d2fd;
    text-decoration: none;
    background: transparent;
    border: 0.2rem solid #88d2fd;
    border-radius: 100%;
    transition: 0.5s ease; }
    .contact .social-media a:hover {
      background: #88d2fd;
      color: white;
      box-shadow: 0 0 1rem #88d2fd; }

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 6rem;
  background: #1f242d; }
  .footer p {
    text-align: left;
    font-size: 1.3rem;
    font-weight: lighter;
    color: white; }

.footer-iconTop .boton-primario {
  font-weight: bold;
  color: #1f242d;
  background-color: #88d2fd;
  border-color: #5f97b8; }
  .footer-iconTop .boton-primario:hover {
    background: #88d2fd;
    color: white;
    box-shadow: 0 0 1rem #88d2fd; }

.footer-iconTop a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
  transition: 0.5s ease;
  text-decoration: none; }
  .footer-iconTop a i {
    font-size: 2.4rem;
    color: #88d2fd; }

/*--------------------------------------------------------------
# Media Queries - Responsive
--------------------------------------------------------------*/
@media (max-width: 1814px) {
  .home {
    gap: 5rem; } }

@media (max-width: 1734px) {
  .home .home-img {
    width: 40rem; } }

@media (max-width: 1574px) {
  .home .home-img {
    width: 30rem; } }

@media (max-width: 1414px) {
  .home .home-img {
    width: 25rem; }
  .about {
    padding: 5rem 3rem;
    gap: 3rem; }
    .about .about-img {
      height: 20rem;
      width: 20.625rem; } }

@media (max-width: 1333px) {
  .home {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 3rem;
    padding-top: 2rem; }
    .home .home-img {
      height: 20rem;
      width: 100%; } }

@media (max-width: 1180px) {
  .about .about-content {
    height: auto; }
  .about .about-img {
    height: 25rem;
    width: 20.625rem; }
  .portfolio .portfolio-container {
    gap: 1rem; } }

@media (max-width: 991px) {
  header .barra-navegacion .contenedor-header {
    padding-left: 3rem;
    padding-right: 3rem; }
    header .barra-navegacion .contenedor-header .logo {
      padding: 0;
      margin-left: 0; }
    header .barra-navegacion .contenedor-header .lista-links ul {
      margin-top: 1rem; }
      header .barra-navegacion .contenedor-header .lista-links ul .link {
        text-align: right; }
        header .barra-navegacion .contenedor-header .lista-links ul .link:hover {
          transform: none; }
    header .barra-navegacion .contenedor-header .boton-primario:hover {
      background: #88d2fd;
      color: #1f242d;
      box-shadow: none; }
  .about {
    padding: 1rem 3rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0; }
    .about .about-img {
      height: 15rem;
      width: 50%; }
    .about .about-content {
      width: auto; }
      .about .about-content h2 {
        text-align: center;
        margin-top: 1rem; }
      .about .about-content p {
        text-align: center;
        margin: 0; }
    .about .boton-primario {
      display: flex;
      justify-content: center; }
  .home .home-content .boton-primario:hover {
    background: #88d2fd;
    color: #1f242d;
    box-shadow: none; } }

@media (max-width: 768px) {
  .home .home-content h1 {
    font-size: 3rem; }
  .home .home-content h3 {
    font-size: 1rem; }
  .home .home-content p {
    font-size: 1rem; }
  .about .about-content h2 {
    font-size: 2rem; }
  .about .about-content p {
    font-size: 1rem; }
  .portfolio {
    padding: 4rem 2rem 6rem; }
    .portfolio h2 {
      font-size: 2rem; }
    .portfolio .portfolio-container .portfolio-item .portfolio-layer h3 {
      font-size: 1rem; }
    .portfolio .portfolio-container .portfolio-item .portfolio-layer p {
      font-size: 1rem; }
  .footer {
    padding: 2rem 2rem; }
    .footer p {
      font-size: 1rem; }
  .footer-iconTop a i {
    font-size: 2rem; } }

@media (max-width: 615px) {
  .home {
    padding-left: 1rem;
    padding-right: 1rem;
    justify-content: center;
    min-height: 80vh; }
    .home .home-content h1 {
      text-align: center; }
    .home .home-content h3 {
      text-align: center; }
    .home .home-content p {
      text-align: center; }
    .home .home-content .skills {
      display: flex;
      justify-content: center; }
    .home .home-content .social-media {
      display: flex;
      justify-content: center; }
      .home .home-content .social-media a:hover {
        background: #88d2fd;
        color: white;
        box-shadow: none; }
    .home .home-content .boton-primario {
      display: flex;
      justify-content: center; }
    .home .home-img {
      display: none; }
  .about .about-img {
    width: 100%; } }

@media (max-width: 426px) {
  header .barra-navegacion .contenedor-header {
    padding: 0 1rem; } }
