---
import Layout from '@/layouts/Layout.astro';
import { getEntry } from 'astro:content';
import ProjectPage from '@/components/sections/ProjectPage.astro';

export async function getStaticPaths() {
  const contentData = await getEntry('portfolio', `en/portfolio`);
  const WEBPROJECTS = contentData.data.web.projects;
  const ALLPROJECTS = [...WEBPROJECTS];

  return ALLPROJECTS.map((project) => {
    return {
      params: { project: project.slug },
      props: { data: project },
    };
  });
}

const { data } = Astro.props;
---

<Layout
  title={`Hernan Otero Web Portfolio - ${data.title}`}
  description="Hernan Agustin Otero Web Portfolio, Programmer and Web Developer"
  canonical="https://guzhotero.dev/en"
  lang="en"
>
  <main>
    <ProjectPage data={data} />
  </main>
</Layout>
