---
import Layout from '@/layouts/Layout.astro';
import { getEntry } from 'astro:content';
import ProjectPage from '@/components/sections/ProjectPage.astro';

export async function getStaticPaths() {
  const contentData = await getEntry('portfolio', `en/portfolio`);
  const PROJECTS = contentData.data.projects;

  return PROJECTS.map((project) => {
    return {
      params: { project: project.slug },
      props: { data: project },
    };
  });
}

const { data } = Astro.props;
---

<Layout
  title={`Portfolio de Hernan Otero - ${data.title}`}
  description="Portfolio Web de Hernan Agustin Otero, desarrollador y programador web full-stack"
  canonical="https://guzhotero.dev/es"
  lang="es"
>
  <main>
    <ProjectPage data={data} />
  </main>
</Layout>
