---
import Layout from '@/layouts/Layout.astro';
import Home from '@/components/sections/Home.astro';
import Portfolio from '@/components/sections/Portfolio.astro';
import ArrowBtn from '@/components/ui/ArrowBtn.astro';
import 'aos/dist/aos.css';
---

<Layout
  title="Hernan Otero Web Portfolio - Programmer and Web Developer"
  description="Hernan Agustin Otero Web Portfolio, Programmer and Web Developer"
  canonical="https://guzhotero.dev/en"
  lang="en"
>
  <main>
    <ArrowBtn />
    <Home id="home" />
    <Portfolio id="portfolio" />
  </main>
</Layout>

<script>
  import AOS from 'aos';

  document.addEventListener('astro:page-load', () => {
    AOS.init({
      disable: 'mobile',
    });
  });
</script>
