---
import Layout from '@/layouts/Layout.astro';
import Home from '@/components/sections/Home.astro';
import About from '@/components/sections/About.astro';
import Portfolio from '@/components/sections/Portfolio.astro';
import ArrowBtn from '@/components/ui/ArrowBtn.astro';
---

<Layout
  title="Hernan Otero Web Portfolio - Programmer and Web Developer"
  description="Hernan Agustin Otero Web Portfolio, Programmer and Web Developer"
  canonical="https://guzhotero.dev/en"
  lang="en"
>
  <main>
    <ArrowBtn />
    <Home id="home" />
    <About id="about" />
    <Portfolio id="portfolio" />
  </main>
</Layout>
