---
import Layout from '@/layouts/Layout.astro';
---

<Layout
  title="Hernan Otero Web Portfolio - Programmer and Web Developer"
  description="Hernan Agustin Otero Web Portfolio, Programmer and Web Developer"
  canonical="https://guzhotero.dev/en"
  lang="en"
>
  <main></main>
</Layout>
