<footer
  class={`
  pb-16 pt-20 text-center 
  lg:text-left
  `}
>
  <section class="mx-auto">
    <p class="text-base text-slate-800/90 dark:text-white sm:text-lg md:text-base lg:text-base xl:text-base">
      Copyright
      <script is:inline>
        // This runs client‑side—Astro leaves it in your HTML
        document.write(new Date().getFullYear());
      </script>
      - Hernan Agustin Otero
    </p>
  </section>
</footer>
