<footer
  class={`
  pb-16 pt-20 text-center 
  lg:text-left
  `}
>
  <section class="mx-auto">
    <p class="text-base text-slate-800/90 dark:text-white sm:text-lg md:text-base lg:text-base xl:text-base">
      Copyright
      <span id="current-year"></span>
      - Hernan Agustin Otero
    </p>
  </section>
</footer>

<script data-astro-rerun>
  document.getElementById('current-year').textContent = new Date().getFullYear().toString();
</script>
