<footer class="bg-[#9394a5] px-4 pb-16 pt-20 text-center dark:bg-[#526D82] lg:px-24 lg:text-left xl:px-40 xl:py-8">
  <p class="text-base text-slate-800/90 dark:text-white sm:text-lg md:text-base lg:text-base xl:text-base">
    Copyright {new Date().getFullYear()} - Hernan Agustin Otero
  </p>
</footer>
