/*--------------------------------------------------------------
# Media Queries - Responsive
--------------------------------------------------------------*/
@media(max-width:1814px){
    .home{
        gap: 5rem;
    }
}

@media(max-width:1734px){
    .home{
        .home-img{
            width:40rem;
        }
    }
}

@media(max-width:1574px){
    .home{
        .home-img{
            width:30rem;
        }
    }
}

@media(max-width:1414px){
    .home{
        .home-img{
            width:25rem;
        }
    }
    .about{
        padding: 5rem 3rem;
        gap: 3rem;
        .about-img{
            @include container-size($height: 20rem, $width: 20.625rem);
        }
    }
}

@media(max-width:1333px){
    .home{
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 3rem;
        padding-top: 2rem;
        .home-img{
            @include container-size($height:20rem, $width:100%);
        }
    }
}

@media(max-width:1180px){
    .about{
        .about-content{
            height: auto;
        }
        .about-img{
            @include container-size($height: 25rem, $width: 20.625rem);
        }
    }

    .portfolio{
        .portfolio-container{
            gap: 1rem;
        }
    }
}

@media(max-width:991px){
    header{
        .barra-navegacion{
            .contenedor-header{
                padding-left: 3rem;
                padding-right: 3rem;
                .logo{
                    padding: 0;
                    margin-left: 0;
                }
                .lista-links{
                    ul{
                        margin-top: 1rem;
                        .link{
                            text-align: right;
                            &:hover{
                                transform: none;
                            }
                        }
                    }
                }
                .boton-primario{
                    &:hover{
                        background: $azul;
                        color: $negro;
                        box-shadow: none;
                    }
                }
            }
        }
    }
    .about{
        padding: 1rem 3rem;
        gap: 1rem;
        @include flex($direction: column, $wrap: wrap, $justify: center, $align: center, $gap: 0);
        .about-img{
            @include container-size($height: 15rem, $width: 50%);
        }
        .about-content{
            width: auto;
            h2{
                text-align: center;
                margin-top: 1rem;
            }
            p{
                text-align: center;
                margin: 0;
            }
        }
        .boton-primario{
            display: flex;
            justify-content: center;
        }
    }
    .home{
        .home-content{
            .boton-primario{
                &:hover{
                    background: $azul;
                    color: $negro;
                    box-shadow: none;
                }
            }
        }
    }
}
@media(max-width:768px){
    .home{
        .home-content{
            h1{
                font-size: map-get($tamaño-font, responsive-main-h1);
            }
            h3{
                font-size: map-get($tamaño-font, responsive-main-h3);
            }
            p{
                font-size: map-get($tamaño-font, responsive-main-p);
            }
        }
    }
    .about{
        .about-content{
            h2{
                font-size: map-get($tamaño-font, responsive-main-h2);
            }
            p{
                font-size: map-get($tamaño-font, responsive-main-p);
            }
        }
    }
    .portfolio{
        padding: 4rem 2rem 6rem;
        h2{
            font-size: map-get($tamaño-font, responsive-main-h2);
        }
        .portfolio-container{
            .portfolio-item{
                .portfolio-layer{
                    h3{
                        font-size: map-get($tamaño-font, responsive-main-h3);
                    }
                    p{
                        font-size: map-get($tamaño-font, responsive-main-p);
                    }
                }
            }
        }
    }   
}
@media(max-width:615px){
    .home{
        padding-left: 1rem;
        padding-right: 1rem;
        justify-content: start;
        .home-content{
            h1{
                text-align: center;
            }
            h3{
                text-align: center;
            }
            p{
                text-align: center;
            }
            .skills{
                display: flex;
                justify-content: center;
            }
            .social-media{
                display: flex;
                justify-content: center;
                a{
                    &:hover{
                        background: $azul;
                        color: white;
                        box-shadow: none;
                    }
                }
            }
            .boton-primario{
                display: flex;
                justify-content: center;
            }
        }
        .home-img{
            display: none;
        }
    }
    .about{
        .about-img{
            width: 100%;
        }
    }
}

@media(max-width:426px){
    header{
        .barra-navegacion{
            .contenedor-header{
                padding: 0 1rem;
            }
        }
    }
}