$tamaño-font:(
    header-li: 1.25rem,
    main-h1: 4rem,
    main-h2: 3rem,
    main-h3: 2rem,
    main-h4: 1rem,
    main-p: 1.3rem,
    social-media-icons: 1.5rem,
    portfolio-icons: 2rem,
    footer-p: 1.3rem,
);