/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
header{
    width: 100%;
    top: 0px;
    position: sticky;
    z-index: 20;
    background-color: $negro;
    .barra-navegacion{
        .contenedor-header{
            @include container-size($padding-top: 0.5rem, $padding-bottom: 0.5rem, $padding-right: 6rem);
            @include flex($direction: row, $justify: space-between, $align: center);
            @import "./components/bootstrap-btn";
            .logo{
                padding-top: 0.3rem;
                display: flex;
                justify-content: left;
                @include container-size($margin-left: 6rem, $height: 100%, $width: 100%);
                @include container-size($width: 12rem);
                a{
                    display: flex;
                    justify-content: left;
                    align-items: center;
                    gap: 1rem;
                    color: white;
                    text-decoration: none;
                    @include fonts($family: ('Poppins', sans-serif), $size: map-get($tamaño-font, header-li), $align: center, $weight: lighter);
                    img{
                        @include container-size($height: 100%, $width: 30%);
                        object-fit: contain;
                    }
                }
            }
            .lista-links{
                flex-grow: 0;
                ul{
                    justify-content: center;
                    gap: 2.5rem;
                    .link{
                        @include fonts($family: ('Poppins', sans-serif), $size: map-get($tamaño-font, header-li), $align: center, $weight: lighter);
                        color: white;
                        text-decoration: none;
                        &:hover{
                            transform: scale(1.2);
                        }
                    }
                }
            }
        }
    }
}