/*--------------------------------------------------------------
# Main - Index
--------------------------------------------------------------*/
.home{
    @include container-size($padding: 10rem 6rem 2rem, $width: 100%, $min-height: 100vh);
    @include flex($direction: row, $wrap: nowrap, $justify: center, $align: start, $gap: 10rem);
    @import "../components/animations";
    .home-content{
        h1{
            @include fonts($align:left, $size: map-get($tamaño-font, main-h1), $weight: bold, $color: white);
        }
        h3{
            @include fonts($align:left, $size: map-get($tamaño-font, main-h3), $weight: bold, $color: white);
            margin-bottom: 1rem;
        }
        p{
            @include fonts($align:left, $size: map-get($tamaño-font, main-p), $weight: lighter, $color: white);
            margin-bottom: 1rem;
            #bold-text{
                color: $azul;
                font-weight: bold;
            }
        }
        @import "./components/bootstrap-btn";
        .social-media{
            a{
                @include inline-flex($justify: center, $align: center);
                @include container-size($margin-top: 1rem, $margin-right:1rem, $margin-bottom: 1rem, $height:3rem, $width:3rem);
                @include fonts($size: map-get($tamaño-font, social-media-icons), $color: $azul);
                text-decoration: none;
                background: transparent;
                border: 0.2rem solid $azul;
                border-radius: 100%;
                transition: 0.5s ease;
                &:hover {
                    background: $azul;
                    color: white;
                    box-shadow: 0 0 1rem $azul;
                }
            }
        }
    }
    .home-img{
        @include container-size($height:25rem, $width:50rem);
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 1rem 0 3rem 1rem $negro-sombra;
        img{
            align-items: center;
            height:100%;
            width:100%;
            object-fit: cover;
        }
    }
}