---
import Prose from './Prose.astro';
import DownloadBtn from "./DownloadBtn.astro";
import { getLangFromUrl } from '../i18n/utils';
import { getEntry } from 'astro:content';

const lang = getLangFromUrl(Astro.url);
const contentText = await getEntry('about', `${lang}/about`);
const { Content } = await contentText.render();
---

<section 
  class={`
  flex flex-col justify-center items-center 

  xl:min-h-[70vh] xl:gap-20 xl:flex-row
  `} 
  {...Astro.props}
>
<!-- h-[163.8px] w-[240px] -->
  <div 
    class={`
    rounded-xl overflow-hidden shadow-[1rem_0_3rem_#171a21]
    w-8/12 mb-6
    lg:w-5/12
    xl:w-7/12
    xl:mb-0
    `}
  >
    <img 
      src="./img/personal-photo.jpg"
      class="w-full h-full object-cover"
      alt="Personal photo"
    />
  </div>

  <div class="lg:w-full text-center xl:text-left">
    <h3 class="text-3xl font-normal text-white dark:text-[#88d2fd] sm:text-4xl md:text-3xl lg:text-3xl xl:text-3xl 2xl:text-4xl">
      {contentText.data.title}
    </h3>

    <Prose>
      <Content />
    </Prose>
    
    <DownloadBtn 
      class="lg:text-xl xl:text-base 2xl:text-base"
      href="https://github.com/GuzH09" 
      ariaLabel=`${contentText.data.button}`
    >
      {contentText.data.button}
    </DownloadBtn>
  </div>
</section>