---
interface Props {
	href: string
  ariaLabel: string
  class?: string
}

const { href, ariaLabel, class: additionalClasses } = Astro.props
---

<a
  class={`
  ${additionalClasses} 
  p-2 
  text-white hover:text-[#88d2fd] text-base font-semibold sm:text-lg md:text-base lg:text-base xl:text-base
  dark:text-[#1f242d] dark:hover:text-white 
  rounded-md border-[2px]
  border-[#1f242d]/5 bg-slate-800/90
  dark:border-[#88d2fd]/95 dark:bg-[#88d2fd]/90
  hover:shadow-[0_0_1rem_rgb(136,210,253,0.9)] 
  dark:hover:shadow-[0_0_1rem_rgb(136,210,253,0.9)] 
  transition duration-500 
  `}
  href={href}
  target="_blank"
  rel="noopener noreferrer"
  aria-label={ariaLabel}
>
  <slot />
</a>