---
interface Props {
	href: string
  ariaLabel: string
  class?: string
}

const { href, ariaLabel, class: additionalClasses } = Astro.props
---

<a
  class={`
  ${additionalClasses} 
  p-2 
  font-semibold text-[#1f242d] bg-[#88d2fd]/90 
  rounded-md border-[#88d2fd]/95 border-[2px] 
  hover:shadow-[0_0_1rem_rgb(136,210,253,0.9)] hover:text-white 
  transition duration-500 
  `}
  href={href}
  target="_blank"
  rel="noopener noreferrer"
  aria-label={ariaLabel}
>
  <slot />
</a>