---
interface Props {
	href: string
  ariaLabel: string
  class?: string
  dataLang?: string
}

const { href, ariaLabel, class: additionalClasses, dataLang } = Astro.props
---

<a
  class={`
  ${additionalClasses} 
  p-2 
  font-semibold 
  text-white hover:text-[#88d2fd] 
  dark:text-[#1f242d] dark:hover:text-white 
  rounded-md border-[2px]
  border-[#1f242d]/5 bg-slate-800/90
  dark:border-[#88d2fd]/95 dark:bg-[#88d2fd]/90
  hover:shadow-[0_0_1rem_rgb(136,210,253,0.9)] 
  dark:hover:shadow-[0_0_1rem_rgb(136,210,253,0.9)] 
  transition duration-500 
  `}
  href={href}
  target="_blank"
  rel="noopener noreferrer"
  aria-label={ariaLabel}
  data-lang={dataLang}
>
  <slot />
</a>