<footer class="dark:bg-[#526D82] bg-[#9394a5] pt-20 pb-16 px-4 text-center lg:text-left lg:px-24 xl:py-8 xl:px-40 ">
  <p class="dark:text-white text-slate-800/90">Copyright 2024 - Hernan Agustin Otero</p>
</footer>