---
interface Props {
  logoSrc: string;
  logoAlt: string;
  title: string;
}

const { logoSrc, logoAlt, title } = Astro.props
---

<a id="scrollToHomeBtn" href="#" class="relative flex items-center gap-2 xl:gap-4">
  <div class="absolute top-0 left-0 size-12 xl:size-14 dark:bg-gradient-radial-dark bg-gradient-radial-light"></div>
  <img 
    src={logoSrc} 
    alt={logoAlt} 
    class="size-12 xl:size-14" 
  >
  <h1 class="text-xl hidden md:block dark:text-white text-slate-800">{title}</h1>
</a>