---
import Layout from '@/layouts/Layout.astro';
import Home from '@/components/sections/Home.astro';
import Portfolio from '@/components/sections/Portfolio.astro';
import ArrowBtn from '@/components/ui/ArrowBtn.astro';
import 'aos/dist/aos.css';
---

<Layout
  title="Portfolio de Hernan Otero - Desarrollador y Programador Web"
  description="Portfolio Web de Hernan Agustin Otero, desarrollador y programador web full-stack"
  canonical="https://guzhotero.dev/es"
  lang="es"
>
  <main>
    <ArrowBtn />
    <Home id="home" />
    <Portfolio id="portfolio" />
  </main>
</Layout>

<script>
  import AOS from 'aos';

  document.addEventListener('astro:page-load', () => {
    AOS.init({
      disable: 'mobile',
    });
  });
</script>
