---
import Layout from '@/layouts/Layout.astro';
import Home from '@/components/sections/Home.astro';
import About from '@/components/sections/About.astro';
import Portfolio from '@/components/sections/Portfolio.astro';
import ArrowBtn from '@/components/ui/ArrowBtn.astro';
---

<Layout
  title="Portfolio de Hernan Otero - Desarrollador y Programador Web"
  description="Portfolio Web de Hernan Agustin Otero, desarrollador y programador web full-stack"
  canonical="https://guzhotero.dev/es"
  lang="es"
>
  <main>
    <ArrowBtn />
    <Home id="home" />
    <About id="about" />
    <Portfolio id="portfolio" />
  </main>
</Layout>
