<button
  id="scrollToTopBtn"
  aria-label="Scroll to top button"
  class={`
  z-10 fixed bottom-5 right-5 lg:bottom-10 lg:right-14 
  flex justify-center items-center 
  size-10 lg:size-16 
  opacity-0 invisible 
  rounded-full border-[0.2rem] hover:scale-110

  border-[hsla(200,100%,70%,0.8)] bg-[hsla(217,33%,17%,1)] text-white
  dark:border-[#88d2fd]/70 dark:bg-neutral-900/90 dark:text-white

  lg:border-transparent lg:bg-[hsla(217,33%,17%,1)] lg:text-white
  dark:lg:border-[#88d2fd]/50 dark:lg:bg-neutral-900/30 dark:lg:text-white

  hover:bg-slate-800/90 hover:text-[#88d2fd]
  dark:hover:text-[#88d2fd] 

  dark:shadow-[0_0_15px_rgb(0,0,0,0.5)] 
  hover:shadow-[0_0_1rem_rgb(136,210,253,0.9)] 
  transition duration-500 
  `}
>
  <i class="fa-sharp fa-solid fa-arrow-up"></i>
</button>

<script>
  document.addEventListener('astro:page-load', () => {
    const scrollToTopBtn = document.getElementById('scrollToTopBtn');

    if (scrollToTopBtn) {
      // Show button when scrolled down 600 pixels from the top
      window.addEventListener('scroll', () => {
        if (window.scrollY > 600) {
          scrollToTopBtn.classList.replace('opacity-0', 'opacity-100');
          scrollToTopBtn.classList.replace('invisible', 'visible');
        } else {
          scrollToTopBtn.classList.replace('opacity-100', 'opacity-0');
          setTimeout(() => {
            scrollToTopBtn.classList.replace('visible', 'invisible');
          }, 200);
        }
      });

      // Scroll to the top of the page when the button is clicked
      scrollToTopBtn.addEventListener('click', () => {
        window.scrollTo({
          top: 0,
          behavior: 'smooth', // Smooth scrolling effect
        });
      });
    }
  });
</script>
