---
interface Props {
  logoSrc: string;
  logoAlt: string;
  title: string;
  href: string;
}

const { logoSrc, href, logoAlt, title } = Astro.props;
---

<a href={href} class="relative flex items-center gap-2 transition duration-500 hover:scale-105">
  <img
    src={logoSrc}
    alt={logoAlt}
    height="48"
    width="48"
    class={`
      rounded-full
      bg-transparent
      dark:bg-[hsla(202,97%,76%,0.5)]
    `}
  />
  <h2 class="text-xl text-slate-800 dark:text-white">{title}</h2>
</a>
