---

---

<div
  class={`
  prose-base sm:prose-lg md:prose-base lg:prose-base xl:prose-base lg:text-left
  text-[hsla(217,33%,25%,1)] dark:text-white/80 
  prose-strong:text-[hsla(200,100%,40%,1)] prose-strong:dark:text-[hsl(202,97%,76%,0.9)] prose-strong:font-bold 
  whitespace-pre-line
  `}
>
  <slot />
</div>
