---

---

<div
  class={`
  mb-4 prose-base sm:prose-lg md:prose-base lg:prose-base xl:prose-base
  text-slate-800/90 dark:text-white 
  prose-strong:text-white prose-strong:dark:text-[#88d2fd]/90 prose-strong:font-semibold 
  whitespace-break-spaces
  `}
>
  <slot />
</div>
