---
interface Props {
  buttonid: string;
  iconid: string;
  iconname: string;
  arialabel: string;
  class?: string;
}

const { iconname, iconid, arialabel, buttonid, class: additionalClasses } = Astro.props;
---

<button
  aria-label={arialabel}
  id={buttonid}
  class={`
  ${additionalClasses ? additionalClasses : ''}
  block text-xl hover:scale-105 px-3 py-2 rounded-md border-2
  text-white bg-[hsla(217,33%,17%,1)] border-transparent hover:text-[hsla(200,100%,50%,1)]
  dark:text-white dark:bg-neutral-900/60 dark:border-[#88d2fd]/70 dark:hover:text-[#88d2fd]

  lg:bg-transparent lg:dark:bg-transparent lg:text-[hsla(217,33%,17%,1)]
  lg:border-0 lg:px-0 lg:py-0
  lg:min-h-7 lg:min-w-7
  `}
>
  <i id={iconid} class={`fa-solid ${iconname} min-w-[20px]`}></i>
</button>
